<%= form_with scope: :book, model: @book, local: true do |form| %>

  <p>
	<%= form.label :title %><br>
	<%= form.text_area :title %>
  </p>

  <p>
	<%= form.label :author %><br>
	<%= form.text_field :author %>
  </p>

  <p>
	<%= form.label :image_url %><br>
	<%= form.text_field :image_url %>
  </p>

  <p>
		<%= form.label :_description %><br>
		<%= form.text_field :_description %>
  </p>

  <div>
  	<%= image_tag @book.image_url %>
  </div>

  <p>
	<%= form.submit %>
  </p>
<% end %>

<%= link_to 'Go back to Book index', root_path %>
<%= link_to 'Delete Book', book_path(@book),
		        method: :delete,
		        data: { confirm: 'Are you sure?' } %>