
	<div class="col-9">
		<%= form_tag(books_path, method: "get" ) do %>
			<input  id="search" type="text" class="search-form" name="search" placeholder="What are you reading next?">
  		<button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
		<% end %>
		<div id="search-results" class="column d-flex">
		</div>

		<br>

	<div id="books-content">
		<table>
			<thead>
				<tr>
					<th colspan="2">Cover / Title</th>
					<th>Author</th>

					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @books.each do |book| %>
				<tr>
					<td>
						<%= image_tag("#{book.image_url}", size: "52x70") %>
					</td>
					<td>
						<a href=<%=book_path(book)%>> <%= book.title %> </a>
					</td>
					<td><%= book.author %></td>
				</tr>
				<% end %>

			</tbody>
			<%= will_paginate @books %>
		</table>
	</div>
	<%= will_paginate @books %>



<%= javascript_include_tag "search-bar" %>