<h2> Books </h2>

<%= form_tag books_path, :method => :get do %>
   <%= text_field_tag :title, params[:title] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>


<div class="row d-flex justify-content-center">

	<div class="col-8">

		<%= link_to 'New Book', new_book_path %>
		<br>
		<br>

		<% @books.each do |book| %>

			<div class="row my-1">
					<a href=<%=book_path(book)%> >
					<div class="col-3 d-flex justify-content-center ">
						<img src=<%= book.image_url %> alt=<%= book.title %>>
					</div>
					</a>
					<a href=<%=book_path(book)%> >
					<div>
						<%= book.title %> <br>
						by <%= book.author %> <br>
					</div>
					</a>
					<%= render partial: 'bookstatuses/hi' , locals: { helpme: book }  %>
			</div>


		<% end %>

			<%= will_paginate @books %>

	</div>
</div>