<h2> Books </h2>

<%= form_tag(books_path, method: "get" ) do %>
	<input  id="search" type="text" class="form-control" name="search" placeholder="What are you reading next?">
  <%= submit_tag 'Search' %>
<% end %>


<div class="row d-flex justify-content-center">
	<div class="col-3">
		<div id="search-results">

		</div>
	</div>
	<div class="col-8">

		<%= link_to 'New Book', new_book_path %>
		<br>
		<br>

	<div id="books-content">
		<table>
			<thead>
				<tr>
					<th colspan="2">Book Image</th>
					<th>Title</th>
					<th>Author</th>
					<th>Description</th>
					<th>Status</th>
					<th colspan="2"></th>
				</tr>
			</thead>

			<tbody>
				<% @books.each do |book| %>
				<tr>
					<td><img src=<%= book.image_url %> alt=<%= book.title %>></td>
					<td><a href=<%=book_path(book)%> ><%= book.title %>
						</a></td>
					<td><%= book.author %></td>
					<th><%= book._description %></th>
					<td><%= render partial: 'bookstatuses/readstatus' , locals: { helpme: book } %>
					</td>
				</tr>
				<% end %>

			</tbody>
			<%= will_paginate @books %>
		</table>
	</div>
	<%= will_paginate @books %>

	</div>
</div>

<script src="/assets/search-bar.js" type="text/javascript"></script>