<h2> Books </h2>
<div class="row d-flex justify-content-center">

	<div class="col-8">

		<%= link_to 'New Book', new_book_path %>
		<br>
		<br>

		<% @books.each do |book| %>
		<a href=<%=book_path(book)%>>
			<div class="row my-1">
					<div class="col-3 d-flex justify-content-center ">
						<img src=<%= book.image_url %> alt=<%= book.title %>>
					</div>
					<div>
						<%= book.title %> <br>
						by <%= book.author %> <br>
					</div>
			</div>
		</a>
		<% end %>

			<%= will_paginate @books %>

	</div>
</div>