
	<%= link_to 'New Book', new_book_path %>
	<div>
  <h2> Book Index </h2>
  <% @books.each do |book| %>
  Title: <%= book.title %> <br>
	Author: <%= book.author %> <br>
	<%= image_tag "#{book.image_url}" %> <br>
	<%= link_to 'View Book', book_path(book) %>
	<%= link_to 'Edit Book', edit_book_path(book) %>
	<%= link_to 'Delete Book', book_path(book),
		        method: :delete,
		        data: { confirm: 'Are you sure?' } %>
	</div>
	<% end %>