<div class="container">
	<div class="row">
		<div class="col-4">
			<%= image_tag "#{@book.image_url}", :class => 'imgs' %>
			<%= render partial: 'bookstatuses/readstatus' , locals: { object: @book }  %>
		</div>
		<div class="col-8">
			<h4>
				<%= @book.title %>
			</h4>
			<h4>
				<%= @book.author %>
			</h4>
			<p>
				<%= @book._description %>
			</p>
	</div>
</div>

<hr>

<% if @book.reviews[0] == nil %>
<p>Read the book? Add a review here!</p>
<%= link_to 'Add a Review', new_review_path %>
<% else %>
<% @book.reviews.each_with_index do |review, index| %>
<p>
<%= review.reviews %>
</p>
<% end %>
<% end %>