<div class="container current-user" id=<%= current_user.id%>>

	<div class="row">
		<div class="col-4">
			<!-- Renders an img and a dropdown(Book's status)-->
			<%= image_tag "#{@book.image_url}", :class => 'imgs' %>
			<br>

			<!-- partial requires current book info=>book status can be found, current user info, all booklist for user -->
			<%= render partial: 'booklists/bookshow_dropdown' , locals: { book: @book , user: current_user, booklists: @booklists}  %>
		</div>
		<div class="col-8">
			<h3>
				<%= @book.title %>
			</h3>
			<h6>
				by <%= @book.author %>
			</h6>
			<!-- Check if this book have any reviews at all -->
      <!-- Will throw an error if there are no reviews as @avg_ratings = nil -->
      <% if @avg_ratings != nil %>
          <% if @avg_ratings == 5  %>
              <span class="star-color">★★★★★</span>
          <% elsif @avg_ratings >= 4 && @avg_ratings < 5 %>
              <span class="star-color">★★★★</span><span class="star-color-2">★</span>
          <% elsif @avg_ratings >= 3 && @avg_ratings < 4 %>
              <span class="star-color">★★★</span><span class="star-color-2">★★</span>
          <% elsif @avg_ratings >= 2 && @avg_ratings < 3 %>
              <span class="star-color">★★</span><span class="star-color-2">★★★</span>
          <% else %>
              <span class="star-color">★</span><span class="star-color-2">★★★★</span>
          <% end %>

          <%= @avg_ratings.round(2) %> <br>
       		<%= @book.reviews.length %> reviews
      <% else %>
        <span class="star-color-2">★★★★★ (not rated yet)</span>
      <% end %>

			<p>
				<%= @book._description %>
			</p>
	</div>
</div>

<hr>
<!--There are no reviews for this book OR user didn't add review for this book -->
<% if @book.reviews[0] == nil || !@arr.include?(current_user.id) %>
	<%= link_to 'Add a Review', book_review_new_path(@book.id), :class => 'btn btn-secondary' %> <br>
<% end %>

<% if @book.reviews.length > 0 %>
<h4>Reviews</h4>
<% end %>
<!-- Iterates through 'reviews' arr and show their respective ratings -->
<% @book.reviews.each_with_index do |review, index| %>
<div class="border border-light">
	<%= review.user.username %> rated it
	<% if review.rating == 5 %>
		<span class="star-color">★★★★★</span>
	<% elsif review.rating == 4 %>
		<span class="star-color">★★★★</span><span class="star-color-2">★</span>
	<% elsif review.rating == 3 %>
		<span class="star-color">★★★</span><span class="star-color-2">★★</span>
	<% elsif review.rating == 2 %>
		<span class="star-color">★★</span><span class="star-color-2">★★★</span>
	<% else %>
		<span class="star-color">★</span><span class="star-color-2">★★★★</span>
	<% end %>

	<% if current_user == review.user %>

		<span class="edit-review"><i class="fas fa-pencil-alt edit-color"></i></span>
		<!-- Link to delete review if it belongs to current_user -->
		<a data-confirm="Are you sure you want to delete this review?" rel="nofollow" data-method="delete" href=<%= review_path(review) %>><i class="fas fa-trash-alt delete-color"></i></a>

	<% else %>

	<% end %>



	<p>
		<br>
		<%= review.reviews %>
	</p>
	<p>
		<span class="grey-text"><%= review.created_at.in_time_zone('Singapore').strftime('%d %B %Y %I:%M %p') %></span>
	</p>
</div>
<!-- The following end is for the loop -->

<% end %>

  <script type="text/javascript" src="/assets/bookstatus"></script>