<div class="row d-flex justify-contents-center">
	<div class="col-3">
		<%= image_tag "#{@book.image_url}" %> <br>
		<%= render partial: 'bookstatuses/readstatus' , locals: { object: @book }  %>
	</div>
	<div class="col-5">
		<h4><%= @book.title %></h4>
		<%= @book.author %>
		<br><br>

	</div>
</div>



<% if @book.reviews[0] == nil %>
<p>Read the book? Add a review here!</p>
<%= link_to 'Add a Review', new_review_path %>
<% else %>
<% @book.reviews.each_with_index do |review, index| %>
<p>
<%= review.reviews %>
</p>
<% end %>
<% end %>