<br>
<!-- ********************************** -->
<!-- this file takes in current book details, current user details and all the booklist from current user -->
<!-- book id details stored in class 'book-id'
current status of book is stored in class 'read-status-now' -->

<!-- sets current user of this partial dropdown -->
<% current = user %>

<% statusNow = 0 %>
<% book.bookstatuses.each do |item| %>
	<% if item.user_id == current.id %>
	<% statusNow = item.read_status %>
	<% end %>
<% end %>

<div class="btn-group book-id" id=<%= book.id %>>

  <button class="btn btn-success dropdown-toggle" type="button" id="status-shelf" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Want to Read
  </button>

  <div class="dropdown-menu read-status-now" id=<%=statusNow%>>
  	<!-- //value here is read_status value -->
    	<button class="dropdown-item" id="drop-down-button" type="button" value="1">Want to Read</button>
    	<button class="dropdown-item" id="drop-down-button" type="button" value="2">Currently Reading</button>
    	<button class="dropdown-item" id="drop-down-button" type="button" value="3">Read</button>


  <div class="dropdown-divider book-data-holder" id=<%=book.id%>></div>
  <!-- for each booklist the owner has -->
  <!-- run a loop to print out partial -->
  <!-- checks against book record of any booklist related to it-->

  <% counter = 0 %>
  	<% booklists.each do |item| %>

  	 <% if book.booklists[counter] && item.booklist_type == book.booklists[counter].booklist_type %>
  	<%= render partial: 'booklists/booklist_item_checked', locals: { list_name: item }%>
  	<% counter = counter + 1 %>
  	<% else %>
  	<%= render partial: 'booklists/booklist_item_unchecked', locals: { list_name: item }%>
  	<% end %>
  	<% end %>

  </div>

 </div>

 <script src="/assets/dropdown_booklist_showbook" type="text/javascript"></script>