<div class="btn-group">

	<% if readstatus == 1 %>
		 <button type="button" class="btn btn-secondary">Want to read</button>

<!-- Beginning of stupidity -->

		 <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	<span class="sr-only">Toggle Dropdown</span>
  	</button>

  <div class="dropdown-menu">

  	<%= form_with(scope: :bookstatus, url: bookstatuses_path, local: true) do |form| %>
			<%= form.hidden_field :user_id, value: current_user.id %>
			<%= form.hidden_field :book_id, value: object.id %>
	    <a class="dropdown-item" href="#">Currently reading</a>
	    <a class="dropdown-item" href="#">Read</a>
    <% end %>

<!-- End of stupidity -->


	<% elsif readstatus == 2 %>
		 <button type="button" class="btn btn-secondary">Currently reading</button>

<!-- Stupidity here we go again -->

		 <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	<span class="sr-only">Toggle Dropdown</span>
  	</button>

  <div class="dropdown-menu">


  	<%= form_with(scope: :bookstatus, url: bookstatuses_path, local: true) do |form| %>
			<%= form.hidden_field :user_id, value: current_user.id %>
			<%= form.hidden_field :book_id, value: object.id %>
	    <a class="dropdown-item" href="#">Want to read</a>
	    <a class="dropdown-item" href="#">Read</a>
    <% end %>

<!-- End of stupidity -->

	<% elsif readstatus == 3 %>
		 <button type="button" class="btn btn-secondary">Read</button>

<!-- Stupz stupid -->

		 <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	<span class="sr-only">Toggle Dropdown</span>
  	</button>

  <div class="dropdown-menu">


  	<%= form_with(scope: :bookstatus, url: bookstatuses_path, local: true) do |form| %>
			<%= form.hidden_field :user_id, value: current_user.id %>
			<%= form.hidden_field :book_id, value: object.id %>
	    <a class="dropdown-item" href="#">Want to read</a>
	    <a class="dropdown-item" href="#">Currently reading</a>
    <% end %>

<!-- End of stupz -->

	<% else %>
		 <button type="button" class="btn btn-success">Want to read</button>

<!-- Final act of stupidity -->

		 <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	<span class="sr-only">Toggle Dropdown</span>
  	</button>

  <div class="dropdown-menu">


  	<%= form_with(scope: :bookstatus, url: bookstatuses_path, local: true) do |form| %>
			<%= form.hidden_field :user_id, value: current_user.id %>
			<%= form.hidden_field :book_id, value: object.id %>
	    <a class="dropdown-item" href="#">Want to read</a>
	    <a class="dropdown-item" href="#">Currently reading</a>
	    <a class="dropdown-item" href="#">Read</a>
    <% end %>

<!-- End of stupidity -->
	<% end %>

    <div class="dropdown-divider"></div>


		<%= form_with(scope: :booklists, url: booklists_path, local: true) do |form| %>

			  <% if @booklists[0] %>

					<% @booklists.each do |booklist| %>

						<% if bookliststatus == booklist.id %>
							<div class="dropdown-item"><input type="checkbox" checked>  <%= booklist.booklist_type %> <br></div>
						<% else %>
							<div class="dropdown-item"><input type="checkbox">  <%= booklist.booklist_type %> <br></div>
						<% end %>
				<% end %>
			  <% else %>
			  <% end %>

			<%= form.hidden_field :user_id, value: current_user.id %>
			<%= form.hidden_field :book_id, value: object.id %>

		<% end %>


  </div>
</div>