<%= form_with scope: :booklist, url: "/booklists/#{id}", :class => "embed-form", local: true do |form| %>
	<input type="hidden" name="_method" value="patch">
	<%= form.hidden_field :user_id, value: current_user.id %>
	<input type="text" class="booklist-<%= id %>" id="bl-edit" style="display: none" name="booklist[booklist_type]" value="<%= booklist_type %>" autofocus>
	<button type="submit" class="booklist-<%= id %> bg-support" style="display: none"><i class="fas fa-check bg-support action-color"></i></button>
<% end %>