<h2> My books </h2>
<div class="row d-flex justify-content-center">
	<div class="col-3">

		<a class="booklist" href=<%= "#{booklists_path}?sort=all" %>>All books</a>
		<a class="booklist" href=<%= "#{booklists_path}?sort=current" %>>Currently reading</a>
		<a class="booklist" href=<%= "#{booklists_path}?sort=want" %>>Want to read</a>
		<a class="booklist" href=<%= "#{booklists_path}?sort=read" %>>Read</a>
		<br>
		<br>
		<%= link_to 'New list', new_booklist_path %>
	</div>
	<div class="col-8">


		<br>
		<br>

		<% if !@books %>
			<p>no books</p>
		<% else %>
			<% @books.each do |book| %>
				<%= book.title %>
				<%= book.id %>
				<br>
			<% end %>
		<% end %>



	</div>
</div>