<%= form_with scope: :booklist, url: booklists_path, local: true do |form| %>


	<%= form.hidden_field :user_id, value: current_user.id %>

  <p>
	<%= form.label :list_name %><br>
	<%= form.text_area :booklist_type %>
  </p>

  <p>
	<%= form.submit %>
  </p>
<% end %>

<p class="error">
  <%= show_errors(@booklist, :booklist_type) %>
</p>

<br>
<%= link_to 'Return to lists', booklists_path %>