<%= form_with scope: :booklist, url: booklists_path, local: true do |form| %>


	<%= form.hidden_field :user_id, value: current_user.id %>

  <p>
	<%= form.label :list_name %><br>
	<%= form.text_area :booklist_type %>
  </p>

  <p>
	<%= form.submit %>
  </p>
<% end %>

<%= link_to 'Go back to booklist index', booklists_path %>