<div class="row d-flex justify-content-center">
	<div class="col-9">

		<h2> Reviews </h2>

		<%= link_to 'Sort by highest rated books', "#{reviews_path}?sort=rating" %>
		<br>
		<%= link_to 'Sort by most recent reviews', "#{reviews_path}" %>
		<br>
		<br>

	  <%= link_to 'Add a new review', new_review_path %>
	  <br>
	  <br>



	  <% @reviews.each do |review| %>
	   	<div class="row">
		   	<div class="col-3 d-flex justify-content-center">
		   		<img src=<%= review.book.image_url %> alt=<%= review.book.title %>>
		   	</div>

		   	<div class="col-9">
		   		<%= link_to "#{review.book.title}", book_path(review.book_id) %> <br>
		   		<%= review.book.author %>

		   		<br><br>
		   		<%= review.user.email %> rated it
					<% if review.rating == 5 %>
		   			<span class="star-color">★★★★★</span>
		   		<% elsif review.rating == 4 %>
		   			<span class="star-color">★★★★</span><span class="grey-text">★</span>
		   		<% elsif review.rating == 3 %>
		   			<span class="star-color">★★★</span><span class="grey-text">★★</span>
		   		<% elsif review.rating == 2 %>
		   			<span class="star-color">★★</span><span class="grey-text">★★★</span>
		   		<% else %>
		   			<span class="star-color">★</span><span class="grey-text">★★★★</span>
		   		<% end %>
		   		<br>

					<%= review.reviews %> <br><br>

					<span class="grey-text"><%= review.created_at.in_time_zone('Singapore').strftime('%d %B %Y %I:%M %p') %></span>

					<%= link_to '✏️', edit_review_path(review) %>
					<%= link_to '❌',review_path(review), method: :delete, data: { confirm: 'Do you really want to delete this?'} %>
				</div>

		  </div>
		  <hr>
		  <% end %>


	</div>
</div>