<%= form_tag(books_path, method: "get" ) do %>
	<input  id="search" type="text" class="form-control" name="search" placeholder="What are you reading next?">
  <%= submit_tag 'Search' %>
<% end %>
<div id="search-results">

</div>


<div class="row d-flex justify-content-center">
	<div class="col-9">

		<h2> Reviews </h2>

		<select name="sample" onchange="location = this.value;">
			<option value="">---Sort by---</option>
			<option value="<%= "#{reviews_path}?sort=rating" %>">Highest rated</option>
			<option value="<%= "#{reviews_path}?sort=desc" %>">Most recent</option>
			<option value="<%= "#{reviews_path}?sort=own" %>">My reviews</option>
		</select>

		<br>
		<br>

	  <%= link_to 'Add a new review', new_review_path %>

	  <br>
	  <br>



	  <% @reviews.each do |review| %>
	   	<div class="row">
		   	<div class="col-3 d-flex justify-content-center">
		   		<img height="200px" src=<%= review.book.image_url %>>
		   	</div>

		   	<div class="col-9">
		   		<%= link_to "#{review.book.title}", book_path(review.book_id) %> <br>
		   		<%= review.book.author %>

		   		<br><br>
		   		<%= review.user.email %> rated it
					<% if review.rating == 5 %>

		   			<span class="star-color">★★★★★</span>
		   		<% elsif review.rating == 4 %>
		   			<span class="star-color">★★★★</span><span class="star-color-2">★</span>
		   		<% elsif review.rating == 3 %>
		   			<span class="star-color">★★★</span><span class="star-color-2">★★</span>
		   		<% elsif review.rating == 2 %>
		   			<span class="star-color">★★</span><span class="star-color-2">★★★</span>
		   		<% else %>
		   			<span class="star-color">★</span><span class="star-color-2">★★★★</span>
		   		<% end %>
		   		<br>

					<%= review.reviews %> <br><br>

					<span class="star-color-2"><%= review.created_at.in_time_zone('Singapore').strftime('%d %B %Y %I:%M %p') %></span>

					<!-- Only show edit and delete functions to current logged in user, with Devise -->
					<% if current_user == review.user %>
						<%= link_to '✏️', edit_review_path(review) %>
						<%= link_to '❌',review_path(review), method: :delete, data: { confirm: 'Do you really want to delete this?'} %>
					<% else %>
					<% end %>
					<%= render partial: 'bookstatuses/readstatus' , locals: { helpme: review.book }  %>
				</div>

				<!-- Dropdown list to mark book should appear on reviews that are not the user's -->

		  </div>
		  <hr>
		  <% end %>


	</div>
</div>

<script src="/assets/search-bar.js" type="text/javascript"></script>